@font-face {
    src: url(fonts/MADE-Gentle-PERSONAL-USE.otf);
    font-family: Gentle;
}

@font-face {
    src: url(fonts/Lato-Light.ttf);
    font-family: Lato-Light;
}

:root {
    /* Paul Tol's colorblind friendly color scheme */
    --darkBlue: #332288;
    --green: #117733;
    --teal: #44AA99;
    --lightBlue: #88CCEE;
    --tan: #DDCC77;
    --salmon: #CC6677;
    --purplePink: #AA4499;
    --magenta: #882255;

    --white: #FFFFFF;
    --black: #000000;

    /* background color */
    --bg: #2D2D30;
}
  


body {
    background-color: var(--bg);
}

.header {
    display: flex;
    width: 100%;
    max-height: 400px;
    position: relative;
    justify-content: center;
    background-color: gray;

}

.text {
    background-color: #117733;
    color: white;
    display: inline-block;
    align-items: left;
    padding: 2%;
    font-family: Gentle, 'Lucida Sans Regular';
    font-size: 6em;
}

.headshot {
    background-color: darkcyan;
    padding: 0.5%;
    max-width: 15%;
    display: flex;
    justify-content: right;
}

h1 {
    color: white;
    font-family: Gentle, 'Lucida Sans Regular';
    font-size: 6em;
}

h2 {
    color: white;
    font-family: Lato-Light, 'Lucida Sans';
}

p {
    color: white;
    font-family: Lato-Light, 'Lucida Sans';
}